body{
    margin: 0;
}
.navbar{
    background-color: rgb(5, 5, 5);
    padding: 10px;
}
 .navbar a:hover{
    background-color: rgb(94, 100, 106);
 }
.navbar ul {
    list-style-type: none;
    text-align: center;
  }
  .navbar li{
    display: inline;
  }
  .navbar a {
    color: white; 
    text-decoration: none; 
    padding: 20px; 
  }
  .isi{
    margin-right: 100px;
    margin-left: 100px;
}
  p{
    text-align: justify;
}
.iconbox{
    padding: 20px;
    text-align: center;
}
  .boxFoto {
    width: 200px;
    margin: auto;
    margin-bottom: 100px;
    text-align: center;  
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  }
  .boxFoto p{
    text-align: center;
  }
